In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# all of the imports
import pandas as pd
import numpy as np
import pickle 
import patsy
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold
% matplotlib inline

In [37]:
df = pd.read_csv('GDP_Obese_Inactive.csv')
df2 = pd.read_csv('Countries_HDI.csv')

In [40]:
df.shape

(173, 6)

In [31]:
df3 = pd.merge(df,df2,on='country')

In [9]:
df3.head()

,Unnamed: 0,country,GDPper_cap,Adult_Population,Insufficiently_active,Percent_Obese,HDI
0,0,Qatar,127700,1783051,41.6,42.3,0.856
1,1,Luxembourg,10400,394182,28.5,23.1,0.898
2,2,Singapore,87900,3856895,33.1,6.2,0.925
3,3,Kuwait,71900,2794638,56.6,39.7,0.800
4,4,Ireland,69200,3216975,35.1,25.6,0.923

In [11]:
df3.corr()

,Unnamed: 0,GDPper_cap,Adult_Population,Insufficiently_active,Percent_Obese,HDI
Unnamed: 0,1.000000,-0.846134,0.035811,-0.393449,-0.559949,-0.928666
GDPper_cap,-0.846134,1.000000,-0.067351,0.343941,0.440051,0.738431
Adult_Population,0.035811,-0.067351,1.000000,-0.077007,-0.216849,-0.029691
Insufficiently_active,-0.393449,0.343941,-0.077007,1.000000,0.415282,0.309325
Percent_Obese,-0.559949,0.440051,-0.216849,0.415282,1.000000,0.604290
HDI,-0.928666,0.738431,-0.029691,0.309325,0.604290,1.000000

In [12]:
df_IHDI = pd.read_csv('Countries_IHDI.csv')
df_IHDI.head()

          country   IHDI
0       Venezuela  0.618
1      Uzbekistan  0.590
2         Uruguay  0.670
3   United States  0.796
4  United Kingdom  0.836

In [18]:
df3 = pd.merge(df3,df_IHDI,on='country')

In [19]:
df3.head()

,Unnamed: 0,country,GDPper_cap,Adult_Population,Insufficiently_active,Percent_Obese,HDI,IHDI
0,1,Luxembourg,10400,394182,28.5,23.1,0.898,0.827
1,4,Ireland,69200,3216975,35.1,25.6,0.923,0.850
2,5,Norway,69200,3584317,25.8,23.1,0.949,0.898
3,7,Switzerland,59600,5726389,24.5,19.4,0.939,0.859
4,9,Netherlands,51000,11509480,15.5,19.8,0.924,0.861

In [20]:
df3.corr()

,Unnamed: 0,GDPper_cap,Adult_Population,Insufficiently_active,Percent_Obese,HDI,IHDI
Unnamed: 0,1.000000,-0.897720,0.054488,-0.283236,-0.606367,-0.953010,-0.929229
GDPper_cap,-0.897720,1.000000,-0.070887,0.188754,0.464196,0.848106,0.853806
Adult_Population,0.054488,-0.070887,1.000000,-0.087416,-0.207627,-0.052975,-0.077407
Insufficiently_active,-0.283236,0.188754,-0.087416,1.000000,0.386320,0.221959,0.156233
Percent_Obese,-0.606367,0.464196,-0.207627,0.386320,1.000000,0.650689,0.609018
HDI,-0.953010,0.848106,-0.052975,0.221959,0.650689,1.000000,0.981223
IHDI,-0.929229,0.853806,-0.077407,0.156233,0.609018,0.981223,1.000000

In [33]:
df3.to_csv('Obesity_HDI.csv')

In [26]:
df_HDI = df3[['country','GDPper_cap', 'Adult_Population','Insufficiently_active', 'Percent_Obese','HDI']]

In [34]:
df_HDI.shape

(128, 6)